
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Sans:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Ubuntu Sans', sans-serif;
  background-image: url("../images/avaruus.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  overflow-y: scroll;             /* fallback vanhemmille selaimille */
  }

/* Käytetään modernia CSS-ominaisuutta vain jos selain tukee sitä */
@supports (scrollbar-gutter: stable) {
  html { 
    scrollbar-gutter: stable;   /* Varaa scrollbarille tilan, vaikka sitä ei näkyisi
                                 → viewportin leveys pysyy samana */ 
  }
}

body {
  background-color: rgba(255, 255, 255, 0.85);
  min-height: 100vh;
  max-width: 55rem;
  margin: 0 auto;
  box-shadow: 0px 0px 25px rgba(0,0,0,0.5);
}

header {
  background-color: #80a6df;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);    /*pieni varjostus otsikon alle*/
}

header h1 {
  font-size: 5rem;
  font-weight: normal;
  margin-left: 0.5rem;
}

header a {
  color: #000;
  text-decoration: none;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 1.5rem;
}

nav li {
  list-style-type: none;  
  background-color:rgb(180, 158, 226);  
  padding: 1em;
  margin: 0.5em;
  border-radius: 0.4rem;
}

nav a {
  color: var(--neutral);
  text-decoration: none;
} 

nav li:hover {
  background-color: var(--neutral);
}

nav li:hover a {
  color: var(--neutral-darkest);
}

section {
  font-size: 18px ; /* sisältö tekstin fonttikoko*/
  padding: 1.5rem 1rem 1rem 1rem;
}

section h1 {
  margin-bottom: 1rem;
}

hr {
  border: none;
  border-top: solid #1B1B3A 2px;
  margin: 1rem;
}

footer {
  font-size: 0.8rem;
  padding: 2em;
  text-align: center;
  color: #1B1B3A;
}

footer p {
  margin: 0.5em;
}

.tapahtumat > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1.5px dashed #80a6df;
  padding: 0.3em;
}

.tapahtumat > div > div:nth-child(3) {
  text-align: right;
}

/*tai .tapahtumat > div {
  display: flex;
  justify-content: space-between;
}*/

form > div {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

input {
  border: 1px solid #999;
  border-radius: 0.3rem;
  padding: 0.45rem;
  font-size: 1rem;
}

input:focus {
  outline: 1px solid #80a6df;
  
}

input[type=submit], .button {
  padding: 0.5rem 3rem;
  border-radius: 0.3rem;
  background-color: #8f4c94;
  color: #fff;
  font-weight: bold;
  min-width: 12rem;
  margin: 1rem auto;
}

.button {
  text-decoration: none;
}

input[type=submit]:hover,
.button:hover {
  opacity: 0.8;
 
}

.flexarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.error {
  color: red;
  font-size: 0.8rem;
}

.info {
  background-color: #e5e5e5;
  border: 1px solid #999;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

.info a {
  color: #8f4c94;
}

address {                         /*osoitteen tyylejä*/
  font-style: normal;
  font-weight: 600;
  margin-top: 1em;
}

address a {
  text-decoration: none;
}


.kuvaosio {                       /*kuvagalleria tyylejä*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.kuvaosio > div {
  background-color: white;
  border-radius: 6px;
  margin: 0.5em;
  padding: 1em;
  /*max-width: calc(var(--max-width) * 0.5);*/
}

.kuvaosio h3 {
  margin-bottom: 0.5em;
}

.kuvaosio p {
  margin: 0.5em 0;
}

.kuvaosio img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}



.ehdotalomake {                     /*Ehdota sivun tyylejä*/
  max-width: 30em;  
  margin: 0 auto;
  margin-top: 4em;
}

.ehdotatoive {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1.5px dashed #80a6df;
  padding: 0.75em 0;
}

.ehdotatoiveet {                       /*Valmiit ehdotukset tyylejä*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 6px;
  margin: 0.5em;
  padding: 1em;
  /*max-width: calc(var(--max-width) * 0.5);*/
}

.ehdotatoiveet h2 {
  margin-bottom: 0.5em;
}

.ehdotatoiveet p {
  margin: 0.5em 0;
}



/* Tässä lopussa on optimointia mobiililaitteilla, jotta asettuu paremmin 
kapealle näytölle. Aiemmin header-otsikko ei kaventunut lainkaan. 
Tähän kysytty ohjetta suoraan Tekoälyltä ChatGTP..*/

@media (max-width: 600px) {

  body {
    max-width: 100%;
    box-shadow: none;
  }

  header {
    flex-direction: column;
    text-align: center;
  }

  header h1 {
    font-size: 2.2rem;
    margin: 0.5rem 0;
  }

  nav ul {
    padding: 0.5rem;
  }

  /*nav li {                          Voi laittaa alekkain, jos haluaa.
    padding: 0.7rem;
    margin: 0.3rem;
    width: 100%;
    text-align: center;
  }*/

  section {
    font-size: 1rem;
    padding: 1rem;
  }

  .tapahtumat > div {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .tapahtumat > div > div:nth-child(3) {
    text-align: left;
  }

  input[type=submit],
  .button {
    width: 100%;
    min-width: unset;
  }

  .kuvaosio {
    flex-direction: column;
    align-items: stretch;
  }

  html {
    background-attachment: scroll;
  }

  .ehdotatoive-nimi {
    grid-column: 1 / -1;
    grid-row: 1; 
  }

  .ehdotatoive-toive {
    grid-column: 1 / -1; 
    grid-row: 2;
  }
   .ehdotatoiveet, .ehdotalomake {
    margin: 0 1em;
  }

  .ehdotatoive {    
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr auto 1fr;
  }

  /*.ehdotatoive-poista {
    grid-column: 10;
    grid-row: 3;
    text-align: right;
  }*/

  .ehdotatoive > div {
    padding: 0;  
  }
}